<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <title>YourFirstep</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/shop-homepage.css" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <% include ./header %>


  <!-- Page Content -->
  <div class="container">
    <br>
    
    <!-- 첫번쨰줄 시작 -->
    <div class="row">
      <!-- 왼쪽 첫번쨰줄 -->
        <div class="col-sm-6">
            
          <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-1-1">
              <div class="card h-100">
                <img src="/images/bottle.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Reusable Cup</a>
                  </h5>
                  <input type="radio" id="left-1-1" name="left-1" value="20">
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-1-2">
              <div class="card h-100">
                <img src="/images/papercup.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Paper Cup</a>
                  </h5>
                  <input type="radio" id="left-1-2" name="left-1" value="10">
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-1-3">
              <div class="card h-100">
                <img src="/images/plasticbottle.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Plastic Bottle</a>
                  </h5>
                  <input type="radio" id="left-1-3" name="left-1" value="0">
                </div>
              </div>
            </div>


        </div>
        <!-- 왼쪽 첫번쨰줄 끝 -->


        <!-- 오른쪽 첫번쨰줄 -->
        <div class='col-sm-6'>


            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="right-1-1">
              <div class="card h-100">
                <img src="/images/bag.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Bag</a>
                  </h5>
                  <input type="radio" id="right-1-1" name="right-1" value="20">
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="right-1-2">
              <div class="card h-100">
                <img src="/images/paperbag.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Paper Bag</a>
                  </h5>
                  <input type="radio" id="right-1-2" name="right-1" value="10">
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="right-1-3">
              <div class="card h-100">
                <img src="/images/plasticbag.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Plastic Bag</a>
                  </h5>
                  <input type="radio" id="right-1-3" name="right-1" value="0">
                </div>
              </div>
            </div>
        </div>
        <!-- 오른쪽 첫번쨰줄 끝-->
    </div>
    <!-- 첫번쨰줄 끝-->


    <!-- 두번 첫번쨰줄 시작-->
    <div class="row">
      <!-- 왼쪽 두번쨰줄 -->
        <div class="col-sm-6">

            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-2-1">
              <div class="card h-100">
                <img src="/images/bowl.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Bowl</a>
                  </h5>
                  <input type="radio" id="left-2-1" name="left-2" value="20">
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-2-2">
              <div class="card h-100">
                <img src="/images/paperplate.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Paper Plate</a>
                  </h5>
                  <input type="radio" id="left-2-2" name="left-2" value="10">
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-2-3">
              <div class="card h-100">
                <img src="/images/plasticbox.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Plastic Box</a>
                  </h5>
                  <input type="radio" id="left-2-3" name="left-2" value="0">
                </div>
              </div>
            </div>
        </div>
        <!-- 왼쪽 두번쨰줄 끝-->

        <!-- 오른쪽 두번쨰줄 시작-->
        <div class='col-sm-6'>

            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="right-2-1">
              <div class="card h-100">
                <img src="/images/emptyplate.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">No Food Waste</a>
                  </h5>
                  <input type="radio" id="right-2-1" name="right-2" value="20">
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="right-2-2">
              <div class="card h-100">
                <img src="/images/fullplate.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Food Waste</a>
                  </h5>
                  <input type="radio" id="right-2-2" name="right-2" value="0">
                </div>
              </div>
            </div>
        </div>
        <!-- 오른쪽 두번쨰줄 끝-->
    </div>
    <!-- 두번쨰줄 끝-->

    <!-- 세번쨰줄 시작-->
    <div class="row">
      
        <!-- 왼쪽 세번쨰줄 시작-->
        <div class="col-sm-6">

            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-3-1">
              <div class="card h-100">
                <img src="/images/emptymail.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Inbox Cleaned</a>
                  </h5>
                  <input type="radio" id="left-3-1" name="left-3" value="20">
                </div>
              </div>
            </div>
           
  
            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="left-3-2">
              <div class="card h-100">
                <img src="/images/fullmail.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#">Inbox Not Cleaned</a>
                  </h5>
                  <input type="radio" id="left-3-2" name="left-3" value="0">
                </div>
              </div>
            </div>
        </div>
        <!-- 왼쪽 세번쨰줄 끝-->


        <!-- 오른쪽 세번쨰줄 시작-->
        <div class='col-sm-6'>
          <div class="col-lg-4 col-md-6 col-sm-5 mb-4">
          </div>

            <div class="col-lg-4 col-md-6 col-sm-5 mb-4" id="result">
              <div class="card h-100">
                <img src="/images/results.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    <input type="hidden" class="form-control" id="resultValue" name="resultValue">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-5 mb-4">
            </div>
        </div>
        <!-- 오른쪽 세번쨰줄 끝-->

    </div>
    <!-- 세번쨰줄 끝-->


  </div>

  <% include ./footer %>


  <!-- Bootstrap core JavaScript -->
  <script src="../jquery/jquery.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script>
  function scrollToTop() {
    $('html, body').animate({scrollTop: 0 }, 'slow');
  }

  </script>

<script>
  $(document).ready(function () {
      var left1Value;
      var right1Value;
      var left2Value;
      var right2Value;
      var left3Value;

      $('#left-1-1').click(function () {
          console.log("Reusable Cup 박스를 클릭했습니다.")
          left1Value = $('input[name="left-1"]:checked').val()
          console.log(left1Value)
      });

      $('#left-1-2').click(function () {
          console.log("Paper Cup 박스를 클릭했습니다.")
          left1Value = $('input[name="left-1"]:checked').val()
          console.log(left1Value)
      });

      $('#left-1-3').click(function () {
          console.log("Plastic Bottle 박스를 클릭했습니다.")
          left1Value = $('input[name="left-1"]:checked').val()
          console.log(left1Value)
      });

      $('#right-1-1').click(function () {
          console.log("Bag 박스를 클릭했습니다.")
          right1Value = $('input[name="right-1"]:checked').val()
          console.log(right1Value)
      });

      $('#right-1-2').click(function () {
          console.log("Paper Bag 박스를 클릭했습니다.")
          right1Value = $('input[name="right-1"]:checked').val()
          console.log(right1Value)
      });

      $('#right-1-3').click(function () {
          console.log("Plastic Bag 박스를 클릭했습니다.")
          right1Value = $('input[name="right-1"]:checked').val()
          console.log(right1Value)
      });

      $('#left-2-1').click(function () {
          console.log("Bowl 박스를 클릭했습니다.")
          left2Value = $('input[name="left-2"]:checked').val()
          console.log(left2Value)
      });

      $('#left-2-2').click(function () {
          console.log("Paper Plate 박스를 클릭했습니다.")
          left2Value = $('input[name="left-2"]:checked').val()
          console.log(left2Value)
      });

      $('#left-2-3').click(function () {
          console.log("Plastic Box 박스를 클릭했습니다.")
          left2Value = $('input[name="left-2"]:checked').val()
          console.log(left2Value)
      });

      $('#right-2-1').click(function () {
          console.log("No Food Waste 박스를 클릭했습니다.")
          right2Value = $('input[name="right-2"]:checked').val()
          console.log(right2Value)
      });

      $('#right-2-2').click(function () {
          console.log("Food Waste 박스를 클릭했습니다.")
          right2Value = $('input[name="right-2"]:checked').val()
          console.log(right2Value)
      });

      $('#left-3-1').click(function () {
          console.log("Inbox Cleaned 박스를 클릭했습니다.")
          left3Value = $('input[name="left-3"]:checked').val()
          console.log(left3Value)
      });

      $('#left-3-2').click(function () {
          console.log("Inbox Not Cleaned 박스를 클릭했습니다.")
          left3Value = $('input[name="left-3"]:checked').val()
          console.log(left3Value)
      });

      $('#result').click(function () {
          console.log("result 박스를 클릭했습니다.")

          if(left1Value == undefined || left2Value == undefined 
          || left3Value == undefined || right1Value == undefined || right2Value == undefined){
            alert("모든항목을 선택해주세요.");
            return
          }
          var resultValue = parseInt(left1Value) + parseInt(left2Value)
           + parseInt(left3Value) + parseInt(right1Value) + parseInt(right2Value);
          console.log(resultValue)
          window.location.href='/result?resultValue=' + resultValue;

      });


  });
</script>
  <style>
    #fixedUPbtn{position:fixed;right:10px;bottom:0px;z-index:1000}
  </style>
</body>
</html>
