<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>YourFirstep</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br>
        <h1>
            <p class="text-center">You Are Making Progress!</p>
        </h1>
        <p class="text-center"><img src="./images/result2.jpg" style="width: 50%;" class="center"></p>
        <p class="text-center">Overall, your score is <%= resultValue %>, which is less than 60 points out of 100. Try to find ways to improve more: look around your surroundings and reflect if there are any unnecessary consumptions that produce pollution. There's still some space for improvements!</p>
        <br>
    </div>
</body>
</html>