<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>YourFirstep</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br>
        <h1>
            <p class="text-center">You Are a Hero!</p>
        </h1>
        <p class="text-center"><img src="./images/result1.jpg" style="width: 50%;" class="center"></p>
        <p class="text-center">Great work! Your score is <%= resultValue %> which is greater than 60 points out of 100. Although it might be hard, try to find ways to improve or try helping others reduce pollution. Keep up the good work!</p>
        <br>
    </div>
</body>
</html>