<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>YourFirstep</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br>
        <h1>
            <p class="text-center">Need Improvement!</p>
        </h1>
        <p class="text-center"><img src="./images/result3.jpg" style="width: 50%;" class="center"></p>
        <p class="text-center">Overall, your score is <%= resultValue %> which is less than 40 points out of 100. Try to reduce your daily pollution by taking small steps at a time. For example, did you know that emptying your inbox can make a change in reducing pollutions? Quick and easy steps like these can really make a big difference! </p>
        <br>
    </div>
</body>
</html>